h1 {
  text-align: center;
  color: teal;
  padding: 40px;
  font-size: 60px;
}

.intro-paragraph {
  text-align: center;
  color: teal;
  padding: 0px;
  font-size: 30px;
}

.intro-buttons {
  text-align: center;
}

.social-icon {
  color: #3a77b5;
  transition: color 0.2s;
  text-decoration: none;
  margin: 0 10px;
  font-size: 30px;
  text-align: center;
}

.social-icon:hover {
  color: darkmagenta;
}

body {
  background-color: #d4ac79;
}

.contact-info {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

img {
  width: 32%;
}

@media (max-width: 1080px) {
  img {
    width: 50%;
  }
}

@media (min-width: 1081px) {
  body {
    background-color: #3a77b5;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #89b8e8;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#nav-button {
  text-align: right;
  padding: 40px 30px 0px 0px;
}

#nav-button2 {
  padding: 10px 13px 10px 13px;
}

#social-icon-container {
  text-align: center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
