h1 {
  text-align: center;
  color: teal;
  padding: 40px;
  font-size: 60px;
}

.intro-paragraph {
  text-align: center;
  color: teal;
  padding: 0px;
  font-size: 30px;
}

.intro-buttons {
  text-align: center;
}

.social-icon {
  color: #3a77b5;
  transition: color 0.2s;
  text-decoration: none;
  margin: 0 10px;
  font-size: 30px;
}

.social-icon:hover {
  color: darkmagenta;
}

body {
  background-color: #d4ac79;
}

.contact-info {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

img {
  width: 32%;
}

@media (max-width: 1080px) {
  img {
    width: 100%;
  }
}

@media (min-width: 1081px) {
  body {
    background-color: #3a77b5;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #89b8e8;
  }
}
